*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    
}
#nav-bar{
   position: sticky;
   top: 0;
   z-index: 10;
}
.dropdown-menu ul{
    list-style: none;
    padding: 0;
}
.dropdown:hover .dropdown-menu{
    display: flex;
}
/* #ab{
    disp
.dropdown-menu li:first-child a{
    font-weight: 500;
    font-size: x-large;
}
/* #dropdown_area{
    width: 100px;
} */
.background{
    background-image: url("images/male-female-business-people-working-tablet-office\ \(1\)\ 1.png");
    background-size: cover;  
}
.img{
    padding-left: 13%;
    padding-top: 10px;
}
.navbar-nav{
    padding-right: 60%;
}
.para{
    color: rgb(39, 146, 39);
    font-weight: 700;
    font-size: 23px;
}
#txt_clr{
    color: #fff;
}
.text{
    display: flex;
    flex-direction: column;
    padding-left: 13.5%;
    padding-top: 17%;
}
.lorem{
   color: #fff; 
   padding-left: 1%;
   border-left: 2px solid #fff;
   padding-top: 5px;
   font-size: 70px;
}
.parent{
    border: 1px solid red;
}
.btn{
    width: 150px;
}
.lorem1{
    padding-top: 15px;
    color: #fff;
    font-size: 20px;
}
.child{
     padding-left: 50px;
}
.button{
   border: 1px solid #29b357;
   background-color: #29b357;
   border-radius: 90px;
   width: 230px;
   height: 60px;
   color: #fff;
}
.counterr{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    font-weight: bold;
}
.counter2{
    border: 1px solid rgb(255, 255, 255);
    width: 263px;
    height: 112px;
    border-radius: 10px;
    padding-left: 15px;
    color: #fff;
}
.pcounter{
    color: #fff;
    font-size: small;
}
.T_counter{
    padding-top: 70px;
    display: flex;
    justify-content:center;
    gap: 15px;
    padding-bottom: 40px;
}
.heading{
    text-align: center;
    font-weight: 700;
    color: #29b357;
    padding-top: 80px;
    font-size: 20px;
}
.heading0{
    text-align: center;
    font-weight: 700;
    color: #29b357;
    padding-top: 140px;
    font-size: 20px;
}
.heading10{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(43, 41, 41);
    
}
.heading1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(43, 41, 41);
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.first{
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
.dtext{
    text-align: center;
    padding-top: 10%;
}
.slider{
    width: 398px;
    height: 294px;
}
#sideletter{
    padding-right: 25%;
}
#line{
    padding-top: 8px;
}
#number{
    font-weight: bold;
    font-size: 35px;
    padding-left: 13%;
}
#line1{
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
}
#sideletter1{
    padding-right: 40%;
}
.sliderp{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 35px;
}
.slider:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #fff;

}
.box{
    display: flex;
    justify-content: end;
    width: auto;
    height: 655px;
    background-color: #fff;
    padding-top: 3%;
}
.parasection{
    width: 50%;
    margin-top: 3.6%;
    padding-top: 9% ;
    padding-left: 10%;
    height: 600px;
    background-color: #29b357;
    color: #fff;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 380px;
    background-color: #3E3E3E;
    border-bottom: 1px solid #D9D9D9;
    color: #fff;
}
.footerp1{
    padding-top: 5%;
}
.copyright{
    background-color: #3E3E3E;
    height: 46px;
}
.footerpara{
    padding-top: 30px;
    font-size: 14px;
}
.imgg{
    padding-right: 25px;
}
.footerp2{
    padding-top: 8%;
}
.footerp3{
    padding-top: 8%;
}
.footerhead{
    font-weight: 900;
    font-size: 22px;
}
.footerpara1{
    padding-top: 20px;
    font-size: 14px;
}
.footerpara2{
    padding-top: 20px;
}
.iconn{
    padding-right: 20px;
}
.sp{
    padding-left: 35px;
}
.copyrightp{
    color: #fff;
    text-align: center;
    padding-top: 12px;
    font-size: 14px;
}
.footerparaf{
    font-size: 14px;
}
#footerff{
    font-size: 14px;
}



.imggg{
    display: flex;
}
.main-carousel{
    padding-bottom: 10%;
    padding-top: 10%;
}
.scl_icon{
    position: relative;
    left: 0;
}
#arr{
    padding-left: 25%;
}
.cell1{
    padding-left: 10px;
}
.cell2{
    padding-left: 10px;
}
.cell3{
    padding-left: 10px;
}
.cell4{
    padding-left: 10px;
}
.cell5{
    padding-left: 10px;
}
